h2{ margin-bottom:12px}
/**相册页面**/
.albumlst{margin:9px 0 10px 0;padding:0 0 10px 0;line-height:1.65em;float:left;width:49%}
.albumlst_r{overflow:hidden;word-wrap:break-word;color:#777;float:left;width:240px;padding-top:4px}
.albumlst_descri{color:#333;margin-bottom:10px}
.album{background:url('../images/albumback.gif') 1px 1px no-repeat;padding:4px 7px 7px 4px}
.album_photo{display:block;overflow:hidden;width:181px;height:181px}
.album_photo:link{display:block;color:#777;font-style:italic}
.album_photo:visited{color:#777;font-style:italic}
.album_photo:hover{background:0;color:#777}

.photocom{ overflow:hidden;}
.photocom li{ height:75px;}
.photocom .pic{ width:50px;  height:50px; float:left;}
.photocom .piccomment{ margin-left:60px;}
.hidden{ display:none}
/**创建页**/
.album-name .field, .album-intro .field {font-size:14px}
.album-reply .field, .album-privacy .field, .album-order .field {margin-right:11px}
.album-privacy label {margin-right:60px}
.album-order label {margin-right:24px}
.album-footer {margin-top:45px}
.row {margin-bottom:20px;display:block}
.btn {
	padding:5px 16px;
*padding:4px 8px;
	height:27px;
	cursor:pointer;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#fff;
	background-color:#3fa156;
	border:1px solid #528641;
	display:inline
}
.btn:hover {
	background-color:#4fca6c;
	border-color:#6aad54
}
.btn:active {
	background-color:#3fa156;
	border-color:#528641
}
.cancel-album {
	float:right;
	display:inline
}
#album_name, #album_intro {
	margin-top:5px;
	padding:3px;
	border:1px solid #ccc;
	line-height:1.62
}
#album_name {
	font-size:14px;
	width:400px
}
#album_intro {height:242px;resize:vertial;font-size:13px;width:582px}
#album_name:focus, #album_intro:focus {border-color:gray}


